@import "tailwindcss";

body {
  font-family: "Public Sans", sans-serif;
}

@theme {
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;

  --color-secondary-green: #277c78;
  --color-secondary-yellow: #f2cdac;
  --color-secondary-cyan: #82c9d7;
  --color-secondary-navy: #626070;
  --color-secondary-red: #c94736;
  --color-secondary-purple: #826cb0;

  --color-tertiary-purple: #af81ba;
  --color-tertiary-turquoise: #597c7c;
  --color-tertiary-brown: #93674f;
  --color-tertiary-magenta: #934f6f;
  --color-tertiary-navy-grey: #97a0ac;
  --color-tertiary-green: #277c78;
  --color-tertiary-army-green: #7f9161;
  --color-tertiary-gold: #cab361;
  --color-tertiary-orange: #be6c49;
}
